.schedule-container {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
}

.schedule-content {
    background-color: var(--primary-color);
    color: var(--accent-color);
    padding: 1rem;
    display: grid;
    gap: 0.875rem;

    .send-schedule {
        font-size: 2rem;
        margin-left: auto;
        /* cursor: pointer; */
    }

    .go-back {
        all: unset;
        background-color: inherit;
        justify-self: start;
        background-color: var(--background-color);
        padding: 0.25em;
        border-radius: 50%;
        font-size: 0.875rem;
        cursor: pointer;
    }
}

.schedule-content > textarea {
    width: 100%rem;
    width: 30rem;
    border: 1px solid var(--secondary-color);
    height: 5rem;
    min-height: 8rem;
    max-height: 9rem;
    background-color: var(--secondary-color-500);
    font-size: large;
    padding: 0.875em;
}

.schedule-content > div {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 1rem;
}

.picked-date {
    background-color: var(--background-color);
    padding: 0.25em 0.875em;
    font-family: 1.1rem;
    color: var(--primary-color);
    border-radius: 0.875em;
}
.date-pick-icon {
    font-size: 2rem;
    cursor: pointer;
}
