.context-menu {
    /* background-color: pink; */
    position: absolute;
    z-index: 1;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    padding: 1em;
    align-content: start;
    background: linear-gradient(135deg, rgba(255,255,255,0.1), rgba(255,255,255,0));
    backdrop-filter: blur(15px);
    outline: 2px solid var(--primary-color);
    border-radius: 0.875em;
    transform: translateX(-100%); 
    width: max-content;
    
}

.context-menu > * {
    color: var(--accent-color);
    padding: 0.625em 0.8125em;
    background-color: var(--secondary-color-500);
    font-size: 0.9375em;
    border-radius: inherit;
    cursor: pointer;
}

.context-menu > *:hover{
    background-color: var(--secondary-color);
}
