@tailwind base;
@tailwind components;
@tailwind utilities;

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* 2. Remove default margin */
* {
    margin: 0;
}

body {
    /* 3. Add accessible line-height */
    line-height: 1.5;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
    font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
    text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

/*
    9. Create a root stacking context
  */
#root,
#__next {
    isolation: isolate;
}

:root {
    background-color: #333;

    /* default color scheme */

    --background-color: #333;
    --primary-color: hsl(268, 32%, 62%);
    --secondary-color: hsl(275, 41%, 82%);
    --secondary-color-500: hsl(275, 41%, 50%);
    --accent-color: hsl(0, 0%, 93%);

    /* theme section */
    --default-color: var(--primary-color);
    --blue-color-scheme: blue;
    --red-color-scheme: lightcoral;
    --green-gray-color-scheme: #61876e;
    --brown-color-scheme: brown;
    --pastal-orange-scheme: orange;
    --pink-scheme: #c1a3a3;
    --coffee-scheme: #d6c0b3;
    --yellow-scheme: yellow;
}

body {
    transition: color 300ms ease-in-out;
}

[data-theme="blue"] {
    --primary-color: #222831;
    --secondary-color: #393e46;
    --secondary-color-500: #00adb5;
    --accent-color: #eeeeee;
}

[data-theme="red"] {
    --primary-color: #1d1616;
    --secondary-color: #8e1616;
    --secondary-color-500: #d84040;
    --accent-color: #eeeeee;
}

[data-theme="green-gray"] {
    --primary-color: #3c6255;
    --secondary-color: #61876e;
    --secondary-color-500: #a6bb8d;
    --accent-color: #eae7b1;
}

[data-theme="brown"] {
    --primary-color: #e4e0e1;
    --secondary-color: #d6c0b3;
    --secondary-color-500: #ab886d;
    --accent-color: #e5dfdb;
}

[data-theme="pastal-orange"] {
    --primary-color: #343131;
    --secondary-color: #a04747;
    --secondary-color-500: #d8a25e;
    --accent-color: #eedf7a;
}

[data-theme="pink"] {
    --primary-color: #f3c5c5;
    --secondary-color: #c1a3a3;
    --secondary-color-500: #886f6f;
    --accent-color: #f6f6f6;
}

[data-theme="coffee"] {
    --primary-color: #f8f4e1;
    --secondary-color: #af8f6f;
    --secondary-color-500: #74512d;
    --accent-color: #543310;
}

[data-theme="yellow"] {
    --primary-color: #222831;
    --secondary-color: #393e46;
    --secondary-color-500: #ffd369;
    --accent-color: #eeeeee;
}
